# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout
*.c text
*.h text
*.cpp text
*.hpp text
*.cmake text
*.txt text
*.md text
*.xml text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf

# Simplicity Studio project files - normalize line endings
*.slsproj text eol=lf
*.pintool text eol=lf
*.slcp text eol=lf
*.slps text eol=lf